body{
    padding: 0;
    margin: 0;
    display: flex;
    background: black;
    justify-content: center;
    align-items: center;
}

.path span {
    position: relative;
    display: inline-block;
    font-family: 'Steamflix Grotesk', sans-serif;
    font-size: 300px;
    color: white;
}

#path1{
    position: absolute;
    border: solid 4px white;
    top: 20%;
    left: 30%;
    width: 40vw;
    animation: glow 2s ease-in-out infinite alternate;
}


#text1{
    font-family: 'Steamflix Grotesk', sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-indent:50px;
    text-align: left;
    width: 65vw;
    height: 55vh;
    box-sizing: border-box;
    position: absolute;
    overflow: scroll;
    margin-top: auto;
    margin-left: auto;
    color: white;

}

#path2{
    position: absolute;
    width: 500px;
    border: solid 4px white;
    top: 81%;
    left: 30%;
    width: 40vw;
    animation: glow 2s ease-in-out infinite alternate;
}

.background span {
    position: relative;
    display: inline-block;
    font-family: 'Lment-v02', sans-serif;
    font-size: 100px;
    color: white;
  }
  
  #maze1{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 100px;
    border-top: solid 6px white;
    border-left: solid 6px white;
  }

  #maze2{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 100px;
    border-top: solid 6px white;
    border-right: solid 6px white;
  }

  #maze3{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 80px;
    height: 100px;
    border-bottom: solid 6px white;
    border-left: solid 6px white;
  }

  #maze4{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 100px;
    border-bottom: solid 6px white;
    border-right: solid 6px white;
  }

  #button{
    position: absolute;
    font-family: 'Steamflix Grotesk', sans-serif;
    font-size: 20px;
    color: white;
    animation: glow 2s ease-in-out infinite alternate;
    top: 83%;
    left: 60%;
    width: 40vw;
}

a:link{
    color: white;
    text-decoration: none;
  }
  
  a:visited{
    color:black;
    text-decoration: none;
  }
  
  a:active{
    color:white;
    text-decoration: none;
    opacity: 0;
  }


@keyframes glow {
from {
    filter: blur(2px);
    text-shadow: 0 0 20px white;
    opacity: 0.5;
}
to {
    filter: blur(1px);
    text-shadow: 0 0 50px white, 0 0 10px white;
    opacity: 1;
}
}