
body{
    background-color: white;
    margin: 0;
    padding: 0;
    cursor: url(/images/yellow.png), auto;
}

p{
    font-family: 'Satoshi', sans-serif;
    font-size: 50px;
    margin-inline:5%;
}


.star{ 
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.stargif{
    position: relative;
    top: 30px;
    left: 25px;
}


span{
    display: inline-block;
}

div{
    position: relative;
}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
.p1:hover .overlay1 {
  opacity: 1;
}

#text1{
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.p2{
    text-align: right;
}

.sungif{
    position: relative;
    left: -100px;
    top: 15px;
}

.sun{
    font-family: 'Times New Roman', Times, serif, sans-serif;
                                                
}


.p2:hover .overlay2 {
  opacity: 1;
}

.overlay2{
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    top: -51.5px;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
}

#text2{
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay3{
    position: absolute;
    top: -51.5px;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.p3:hover .overlay3 {
    opacity: 1;
  }

#text3{
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.p4{
    overflow:hidden;
}

.overlay4 {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }

.p4:hover .overlay4 {
  opacity: 1;
}

#text4{
    color: white;
    font-family: 'Satoshi', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color:white;
    text-decoration: none;
}

a:active{
    color:white;
    background-color: rgb(116, 116, 116);
    text-decoration: none;
}

hr{
    margin-block-start: 0;
    margin-block-end: 0;
}