body{
    margin: 0;
    padding: 0;
    background-color: white;
    background-size: 100% 100%;
}

main{
    display: flex;
    flex-direction:column;
    column-gap: 20px;
}

#art1{
    margin: auto;
    margin-top: 100px;
}

.title{
    font-size: 3vh;
    font-family: 'Shippori Mincho', sans-serif;
    font-weight: 500;
}

.info{
    font-size: 2vh;
    font-weight: 400;
    color: rgb(107, 107, 107);
}

#background1{
    background: linear-gradient(180deg, rgba(0,9,14,1) 8%, rgba(0,13,20,1) 17%, rgba(0,16,25,1) 27%, rgba(15,48,80,1) 46%, rgba(32,83,142,1) 59%, rgba(78,119,165,1) 69%, rgba(255,255,255,1) 71%, rgba(196,191,215,1) 72%, rgba(182,206,222,1) 100%);
    width: 65vh;
    height:85vh;
    margin-top: 3vh;
}

#pattern1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.a1{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(255, 116, 250, 0.9);
    margin-top: 1.5vh;
}


#pattern2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
}

.a2{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(255, 116, 116, 0.9);
}


#pattern3{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.a3{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(44, 97, 255, 0.9);
}


#pattern4{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
}

.a4{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(200, 153, 231, 0.9);
}

#pattern5{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;

}

.a1{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(255, 116, 250, 0.9);
}


#pattern6{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
}

.a2{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(255, 116, 116, 0.9);
}


#pattern7{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.a3{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(44, 97, 255, 0.9);
}


#pattern8{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
}

.a4{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(200, 153, 231, 0.9);
}

#pattern9{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;

}

.a2{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(255, 116, 116, 0.9);
}


#pattern10{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
}

.a3{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(44, 97, 255, 0.9);
}



/* #pattern11{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.a2{
    background-color: white;
    width: 0.5vh;
    height: 0.5vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(255, 116, 116, 0.9);
} */

#circle1{
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border-radius: 100px;
    border-left: 1px solid white;
    margin-top: -33.5vh;
    margin-left: 8vh;
    background: repeating-linear-gradient(45deg, #ffffff 0, #ffffff 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #ffffff 0, #ffffff 5%, transparent 0, transparent 50%);
    background-size: 1em 1em;
    opacity: 0.5;

}

#circle2{
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border-radius: 100px;
    border-left: 1px solid white;
    margin-top: -25vh;
    margin-left: 7vh;
}

#circle3{
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border-radius: 100px;
    border-right: 1px solid white;
    margin-top: -24vh;
    margin-left: 9vh;
}

#circle4{
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border-radius: 100px;
    border-right: 1px solid white;
    margin-top: -25vh;
    margin-left: 8vh;
}

#circle5{
    display: inline-block;
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    border-left: 1px solid white;
    margin-top: -45vh;
    margin-left: 15vh;
    background: repeating-linear-gradient(45deg, #ffffff 0, #ffffff 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #ffffff 0, #ffffff 5%, transparent 0, transparent 50%);
    background-size: 1em 1em;
    opacity: 0.5;
}

#circle6{
    display: inline-block;
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    border-left: 1px solid white;
    margin-top: -40vh;
    margin-left: 16vh;
}

#circle7{
    display: inline-block;
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    border-right: 1px solid white;
    margin-top: -40vh;
    margin-left: 17vh;
}

#circle8{
    display: inline-block;
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    border-right: 1px solid white;
    margin-top: -40vh;
    margin-left: 16vh;
}

#circle9{
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border-radius: 100%;
    border-left: 1px solid white;
    margin-top: -38vh;
    margin-left: 28vh;
}

#circle10{
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border-radius: 100%;
    border-left: 1px solid white;
    margin-top: -24vh;
    margin-left: 28vh;
    background: repeating-linear-gradient(45deg, #ffffff 0, #ffffff 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #ffffff 0, #ffffff 5%, transparent 0, transparent 50%);
    background-size: 1em 1em;
    opacity: 0.5;
}

#circle11{
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border-radius: 100%;
    border-right: 1px solid white;
    margin-top: -24vh;
    margin-left: 28vh;
}
#circle12{
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border-radius: 100%;
    border-right: 1px solid white;
    margin-top: -25vh;
    margin-left: 29vh;
}


/* #triangle1{
    display: inline-block;
    width: 25vh;
    height: 25vh;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    margin-top: -25vh;
    margin-left: 29vh;
    z-index: 1;
} */


#t-right1{
    height: 15vh;
    border-left: 1px solid white;
    margin-top: -27.5vh;
    margin-left: -3vh;
    transform: rotate(-40deg);
}

#t-right2{
    height: 15vh;
    border-left: 0.5px solid white;
    margin-top: -17vh;
    margin-left: -4.5vh;
    transform: rotate(-45deg);
}


#t-left1{
    height: 15vh;
    border-left: 1px solid white;
    margin-top: 28.5vh;
    margin-left: 3vh;
    transform: rotate(40deg);
}

#t-left2{
    height: 15vh;
    border-left: 0.5px solid white;
    margin-top: -11.5vh;
    margin-left: -0.5vh;
    transform: rotate(45deg);
}

#t-middle1{
    height: 12vh;
    border-left: 1px solid white;
    margin-top: -27vh;
    margin-left: 11vh;
    transform: rotate(20deg);
}

#t-right3{
    height: 15vh;
    border-left: 1px solid white;
    margin-top: -39.8vh;
    margin-left: 13.8vh;
    transform: rotate(-40deg);
}

#t-right4{
    height: 15vh;
    border-left: 0.5px solid white;
    margin-top: -16.5vh;
    margin-left: 11.5vh;
    transform: rotate(-45deg);
}

.triangle3{
    margin-left: 15vh;
    margin-top: -33vh;
}

#t-middle2{
    height: 12vh;
    border-left: 1px solid white;
    margin-top: -38vh;
    margin-left: 14vh;
    transform: rotate(-20deg);
}

#t-right5{
    height: 15vh;
    border-left: 1px solid white;
    margin-top: -19.1vh;
    margin-left: 13.9vh;
    transform: rotate(-40deg);
}

#t-right6{
    height: 15vh;
    border-left: 0.5px solid white;
    margin-top: -16vh;
    margin-left: 12vh;
    transform: rotate(-45deg);
}

.triangle4{
    margin-left: 30vh;
    margin-top: -34vh;
}

#t-middle3{
    height: 12vh;
    border-left: 1px solid white;
    margin-top: -22vh;
    margin-left: 8.5vh;
    transform: rotate(20deg);
}

#t-right7{
    height: 15vh;
    border-left: 1px solid white;
    margin-top: -25.5vh; 
    margin-left: 13.8vh;
    transform: rotate(-40deg);
}

#t-right8{
    height: 16vh;
    border-left: 0.5px solid white;
    margin-top: -15.5vh;
    margin-left: 13vh;
    transform: rotate(-45deg);
}

.triangle5{
    margin-left: 43vh;
    margin-top: -33vh;
}

#t-middle4{
    height: 12vh;
    border-left: 1px solid white;
    margin-top: -24vh;
    margin-left: 11vh;
    transform: rotate(-20deg);
}

#t-right9{
    height: 15vh;
    border-left: 1px solid white;
    margin-top: -15.1vh; 
    margin-left: 13.8vh;
    transform: rotate(-40deg);
}

#t-right10{
    height: 15vh;
    border-left: 0.5px solid white;
    margin-top: -14.8vh;
    margin-left: 13vh;
    transform: rotate(-45deg);
}

#t-left3{
    height: 15vh;
    border-left: 0.5px solid white;
    margin-top: -9vh;
    margin-left: 58.7vh;
    transform: rotate(45deg);
}

#t-left4{
    height: 15vh;
    border-left: 1px solid white;
    margin-top: -16vh;
    margin-left: 60vh;
    transform: rotate(40deg);
}

#circle13{
    display: inline-block;
    width: 14vh;
    height: 14vh;
    background-color: rgb(25, 63, 111);
    border-radius: 100%;
    margin-top: -1vh;
    margin-left: 25vh;

}

#circle14{
    display: inline-block;
    width: 9vh;
    height: 9vh;
    background-color: white;
    border-radius: 100%;
    margin-top: -6vh;
    margin-left: 22vh;

}

.text{
    font-family: 'Mohave', sans-serif;
    font-style: 400;
    letter-spacing: -0.8px;
}

#t1{
    font-size: 2.2vh;
    margin-left: 0.5vh;
    margin-top: 0.5vh;
}

#t2{
    margin-left: 1.8vh;
    font-size: 2.8vh;
}

#t3{
    margin-left: 1.5vh;
    font-size: 2.2vh;
}

#t4{
    font-size: 2.5vh;
    font-family: "fot-udkakugoc70-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -22vh;
    margin-left: 0.5vh;
}

#t5{
    font-size: 2.5vh;
    font-family: "fot-udkakugoc70-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2vh;
    margin-left: 0.5vh;
}

#t6{
    font-size: 1.1vh;
    font-family: "fot-udkakugoc70-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2vh;
    margin-left: 0.5vh;
}

#t7{
    font-size: 1.2vh;
    font-family: "fot-udkakugoc70-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2vh;
}

.link{
    margin: auto;
    text-align: right;
    font-size: 2.5vh;
    font-weight: 400;
    color: rgb(107, 107, 107);
    margin-top: 2vh;
}

#art2{
    margin: auto;
    margin-top: 100px;
}

#background2{
    background-color: rgb(165, 95, 42);
    width: 65vh;
    height:85vh;
    margin-top: 3vh;
    overflow: hidden;
}

#block1{
    width: 10vh;
    height: 30vh;
    background-color: white;
    margin-top: 58vh;
    margin-left: 30vh;
    transform: rotate(10deg);
    border-left: 1.5vh solid black;
    position: relative;
    z-index: 2;
}

#line1{
    height: 32vh;
    margin-top: -34vh;
    margin-left: 61vh;
    transform: rotate(-10deg);
    border-left: 2vh solid black;
}

#line2{
    width: 22vh;
    margin-top: -30vh;
    margin-left: 38.5vh;
    transform: rotate(-10deg);
    border-bottom: 1vh solid black;
    position: relative;
    z-index:2;
}


#line3{
    height: 25vh;
    margin-top: -10vh;
    margin-left: 13vh;
    transform: rotate(-5deg);
    border-left: 2.5vh solid black;
}
#line4{
    height: 25vh;
    margin-top: -28vh;
    margin-left: 18vh;
    transform: rotate(-5deg);
    border-left: 2vh solid black;
}

#line5{
    height: 55vh;
    margin-top: -63vh;
    margin-left: 16vh;
    transform: rotate(-5deg);
    border-left: 1vh solid black;
}

#line6{
    width: 10vh;
    margin-top: 10.6vh;
    margin-left: 16vh;
    transform: rotate(-5deg);
    border-bottom: 2vh solid black;
}

#block2{
    width: 10vh;
    height: 15vh;
    background-color: rgb(203, 150, 58);
    margin-top: 2vh;
    margin-left: 20vh;
    transform: rotate(-5deg);
    border-left: 1.5vh solid black;
}
#line7{
    width: 35vh;
    height: 55vh;
    margin-top: -40vh;
    margin-left: -8vh;
    transform: rotate(-5deg);
    border-right: 1.5vh solid black;
}

#block3{
    width: 10vh;
    height: 35vh;
    background-color: rgb(242, 213, 219);
    margin-top: -100vh;
    margin-left: 15vh;
    transform: rotate(-5deg);
    border-right: 1vh solid black;
    border-left: 1vh solid black;
    position: relative;
    z-index: 1;
}

#block4{
    width: 55vh;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    margin-top: -25vh;
    margin-left: 30vh;
    transform: rotate(-30deg);
    border-top: 2vh solid black;
    border-left: 1.5vh solid black;
    position: relative;
    z-index: 1;
}

#block5{
    width: 55vh;
    height: 7vh;
    background-color: rgb(242, 213, 219);
    margin-top: -23vh;
    margin-left: 27.3vh;
    transform: rotate(-30deg);
    position: relative;
    z-index: 1;
}

#block6{
    width: 7vh;
    height: 15vh;
    background-color: rgb(242, 213, 219);
    margin-top: 10vh;
    margin-left: 35.75vh;
    transform: rotate(-30deg);
    position: relative;
    z-index: 1;
}

#block7{
    width: 5vh;
    height: 25vh;
    background-color: rgb(155, 65, 30);
    margin-top: -15vh;
    margin-left: 39.5vh;
    transform: rotate(10deg);
    position: relative;
    z-index: 1;
}

#block8{
    width: 10vh;
    height: 45vh;
    background-color: rgb(165, 95, 42);
    margin-top: -24vh;
    margin-left: 42.6vh;
    transform: rotate(10deg);
    position: relative;
    z-index: 1;
}

#block9{
    width: 35vh;
    height: 5vh;
    background-color: rgb(155, 65, 30);
    margin-top: -55.3vh;
    margin-left: 40.6vh;
    transform: rotate(-30deg);
    position: relative;
    z-index: 2;
}

#block10{
    width: 45vh;
    height: 10vh;
    background-color: rgb(165, 95, 42);
    margin-top: -4.95vh;
    margin-left: 46vh;
    transform: rotate(-30deg);
    position: relative;
    z-index: 1;
}

#block11{
    width: 35vh;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    margin-top: 0vh;
    margin-left: 50vh;
    transform: rotate(-10deg);
}

#block12{
    width: 15vh;
    height: 15vh;
    background-color: rgb(0, 88, 204);
    margin-top: -30vh;
    margin-left: 20vh;
    transform: rotate(-50deg);
    border: 1vh solid black;
}

#block13{
    width: 10vh;
    height: 10vh;
    background-color: rgb(0, 200, 180);
    margin-top: -4vh;
    margin-left: 28vh;
    transform: rotate(-30deg);
    border-bottom: 1vh solid black;
    border-top: 1vh solid black;
    border-right: 1vh solid black;
}

#block14{
    width: 25vh;
    height: 55vh;
    background: linear-gradient(0deg, transparent 45%, #000000 45%, #000000 55%, transparent 55%, transparent 20%, #000000 20%, #000000 30%,transparent 30%), linear-gradient(90deg, transparent 45%, #000000 45%, #000000 55%, transparent 55%, transparent 20%, #000000 20%, #000000 30%,transparent 30%);
    background-size: 3em 3em;
    opacity: 1;
    margin-top: -1vh;
    margin-left: -14vh;
    transform: rotate(-3deg);
    border-top: 1vh solid black;
    border-right: 1vh solid black;
}

#block15{
    width: 45vh;
    height: 55vh;
    background: linear-gradient(0deg, transparent 45%, #aa3a0e 45%, #000000 55%, transparent 55%, transparent 20%, #aa3a0e 20%, #000000 30%,transparent 30%), linear-gradient(90deg, transparent 45%, #aa3a0e 45%, #000000 55%, transparent 55%, transparent 20%, #000000 20%, #000000 30%,transparent 30%);
    background-size: 3em 3em;
    opacity: 1;
    margin-top: -145vh;
    margin-left: 5vh;
    transform: rotate(20deg);
    border-bottom: 1vh solid black;
    border-right: 1vh solid black;
    border-left: 1vh solid black;
}


#art3{
    margin: auto;
    margin-top: 100px;
}

#background3{
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(119,119,119,1) 100%);
    width: 85vh;
    height:35vh;
    margin-top: 3vh;
}

#square1{
    width: 15vh;
    height: 15vh;
    margin-top: 30vh;
    margin-left: 3vh;
    border: 1vh solid rgb(203, 203, 203);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(119,119,119,1) 46%, rgba(60,60,60,1) 100%);
}

#column1{
    width: 3vh;
    height: 13.1vh;
    margin-left: 2vh;
    background: linear-gradient(to right, rgb(64, 64, 64) 10%,rgba(255,255,255,1) 32%, rgba(196,196,196,1) 100%);
}

#column2{
    width: 3vh;
    height: 13.1vh;
    margin-top: -13.1vh;
    margin-left: 8vh;
    background: linear-gradient(to right, rgb(64, 64, 64) 10%, rgba(196,196,196,1) 30%,rgb(232, 232, 232) 50%,rgba(196,196,196,1) 80%, rgba(62,62,62,1) 92%);
}

#square2{
    width: 15vh;
    height: 15vh;
    margin-top: -15vh;
    margin-left: 19vh;
    border: 1vh solid rgb(223, 223, 223);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(164, 164, 164) 46%, rgb(113, 113, 113) 100%);
}

#column3{
    width: 3vh;
    height: 13.1vh;
    margin-left: 4vh;
    background: linear-gradient(to right, rgb(64, 64, 64) 10%,rgb(134, 134, 134) 32%, rgba(196,196,196,1) 100%);
}

#column4{
    width: 3vh;
    height: 13.1vh;
    margin-top: -13.1vh;
    margin-left: 6vh;
    background: linear-gradient(to right, rgb(122, 122, 122) 10%, rgb(216, 216, 216) 20%,rgb(255, 255, 255) 50%,rgba(196,196,196,1) 90%, rgb(96, 96, 96) 100%);
}

#square3{
    width: 15vh;
    height: 15vh;
    margin-top: -15vh;
    margin-left: 35vh;
    border: 1vh solid rgb(223, 223, 223);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(136, 136, 136) 46%, rgb(134, 134, 134) 100%);
}

#column5{
    width: 3vh;
    height: 13.1vh;
    margin-left: 1vh;
    background: linear-gradient(to right, rgb(122, 122, 122) 10%, rgb(216, 216, 216) 20%,rgb(255, 255, 255) 50%,rgba(196,196,196,1) 90%, rgb(96, 96, 96) 100%);
}

#column6{
    width: 3vh;
    height: 13.1vh;
    margin-top: -13.1vh;
    margin-left: 6vh;
    background: linear-gradient(to right, rgb(122, 122, 122) 10%, rgb(216, 216, 216) 20%,rgb(179, 179, 179) 50%,rgba(196,196,196,1) 90%, rgb(96, 96, 96) 100%);
}

#column7{
    width: 3vh;
    height: 13.1vh;
    margin-top: -13.1vh;
    margin-left: 10vh;
    background: linear-gradient(to right, rgb(83, 83, 83) 10%, rgb(216, 216, 216) 20%,rgb(255, 255, 255) 50%,rgb(132, 132, 132) 90%, rgb(81, 81, 81) 100%);
}

#square4{
    width: 15vh;
    height: 15vh;
    margin-top: -15vh;
    margin-left: 51vh;
    border: 1vh solid rgb(216, 216, 216);
    background: linear-gradient(180deg, rgb(227, 227, 227) 0%, rgb(159, 159, 159)70%, rgb(107, 107, 107) 100%);
}

#column8{
    width: 3vh;
    height: 13.1vh;
    margin-left: 1vh;
    background: linear-gradient(to right, rgb(105, 105, 105) 10%, rgb(151, 151, 151) 20%,rgb(194, 194, 194) 50%,rgb(168, 168, 168) 90%, rgb(96, 96, 96) 100%);
}

#column9{
    width: 3vh;
    height: 13.1vh;
    margin-top: -13.1vh;
    margin-left: 10vh;
    background: linear-gradient(to right, rgb(122, 122, 122) 10%, rgb(216, 216, 216) 20%,rgb(114, 114, 114) 50%,rgb(82, 82, 82) 90%, rgb(68, 68, 68) 100%);
}

#column10{
    width: 3vh;
    height: 13.1vh;
    margin-top: -13.1vh;
    margin-left: 8vh;
    background: linear-gradient(to right, rgb(83, 83, 83) 10%, rgb(216, 216, 216) 20%,rgb(255, 255, 255) 50%,rgb(132, 132, 132) 90%, rgb(81, 81, 81) 100%);
}

#square5{
    width: 15vh;
    height: 15vh;
    margin-top: -15vh;
    margin-left: 68vh;
    border: 1vh solid rgb(159, 159, 159);
    background: linear-gradient(180deg, rgb(228, 228, 228) 0%, rgb(198, 198, 198)30%, rgb(107, 107, 107) 100%);
}


#column13{
    width: 3vh;
    height: 13.1vh;
    margin-top: 0vh;
    margin-left: 2vh;
    background: linear-gradient(to right, rgb(83, 83, 83) 10%, rgb(216, 216, 216) 20%,rgb(255, 255, 255) 50%,rgb(132, 132, 132) 90%, rgb(81, 81, 81) 100%);
}

marquee{
    font-size: 2vh;
    font-family: 'Shippori Mincho', sans-serif;
    font-weight: 400;
    color: darkgray;
}