:root{
    --spacing: 5vw; 
    --font-size: 2vw;
    --width:5vw;
 }



@media only screen and (min-width: 600px){
    body{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px min-content 1fr min-content;
        min-height: 100vh;
    }

    header{
        padding: var(--spacing);
        background-color: coral;
    }

    ul{
        list-style-type: none;
    }

    #poster-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #poster-list li{
        background-color: lightsalmon;
        
    }

    aside{
        background-color: lightcoral;
    }

    footer{
        background-color: lightpink;
    }
    
}