body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }



h1{
    display: flex;
    margin-top: 6vw;
    color: white;
    font-family: 'Carola', sans-serif;
    font-size: 17vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    filter: blur(1px);
    /* animation: colorchange 3s infinite */
    /* animation: fontchange 2s infinite; */
}

/* @keyframes colorchange{
    0%{
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    20%{
        background: linear-gradient(180deg, rgba(255,255,255,0) 20%, rgba(53,53,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    40%{
        background: linear-gradient(180deg, rgba(255,255,255,0) 40%, rgba(100,100,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    60%{
        background: linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(160,160,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    80%{
        background: linear-gradient(180deg, rgba(255,255,255,0) 80%, rgba(0,0,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        background: linear-gradient(180deg, rgba(255,255,255,0) 100%, rgba(210,210,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
} */
/* @keyframes fontchange{
    0%{
        font-family: 'Carola', sans-serif;
    }
    20%{
        font-family: 'British Classical', sans-serif;
        line-height: 1em;
    }
    40%{
        font-family: 'Breasto Display', sans-serif;
        line-height: 1em;
    }
    60%{
        font-family: 'Champhin', sans-serif;
        line-height: 1em;
    }
    80%{
        font-family: 'British Classical', sans-serif;
        font-style: italic;
        line-height: 1em;
    }
    100%{
        font-family: 'Carola', sans-serif;
    }
} */

#menu{
    position: relative;
    display: inline-block;
    height: 4vw;
    width: 7vw;
    margin-top: -56vw;
    margin-left: 2vw;
    /* border-radius: 35%;
    box-shadow: blue 0px 5px 15px 0px; */
}

#p1{
    text-align: center;
    justify-content: center;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    color: white;
    filter: blur(0.8px);
    margin: auto;
}

.dropdown-content{
    display: none;
    position: absolute;
    filter: blur(0.8px);
    min-width: 10vw;
    font-size: 2vw;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dropdown-content a {
    color: blue;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
  }

  #menu:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover{
    filter: blur(5px);
}

#add{
    margin-left: 2vw;
    margin-top: -30vw;
}

#p2{
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25vw;
    color: blue;
    filter: blur(1.2px);
}

#about{
    margin-left: 88vw;
    margin-top: -67vw;
}

#p3{
    margin-left: 88vw;
    margin-top: -67vw;
    text-align: center;
    justify-content: center;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    color: white;
    filter: blur(0.8px);
    margin: auto;
}

/* #year{
    display: inline-flex;
    margin-top: -2vw;
    margin-left: 50vw;
    width: 8vw;
    height: 3vw;
    border-radius: 60%;
    backdrop-filter: blur(5px);
    align-items: center;

} */

#p4{
    font-family: 'Carola', sans-serif;
    font-style: italic;
    color: blue;
    text-align:center;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    margin-top: -2.5vw;
    filter: blur(0.8px);
}

#map{
    visibility: hidden;
}


@media only screen and (max-width: 375px){
     h1{
        font-size: 10vw;
    }

    #menu{
        visibility: hidden;
    }

    #about{
        visibility: hidden;
    }

    #add{
        margin-top: 100vw;
    }

    #p3{
        display: inline-block;
        margin-top: 50vw;
    }

    #map{
        display: flex;
        width: 80vw;
        height: 90vw;
        margin: auto;
        margin-top: -120vw;
        filter: blur(0.5px);
        visibility: visible;
        overflow: hidden;

    }
}