body{
    position: relative;
    font-family: 'Source Serif 4', serif;
    font-size: 30px; 
}

.box{
    margin: auto;
    width: 60%;
    padding: 10px;
    border: 1px solid black;
}

.title{
    text-align: center;
    margin-top: 80px;
}

.contents{
    text-align: center;
    margin-top: 130px;
    color: darkgrey;
}

.content{
    text-align: center;
    margin-top: 150px;

}



.deb{
    color: darkgrey;
    margin-top: -30px;
}


.chapter{
    margin-top: 80px;
}

#chapter1:hover{
    filter:blur(5px)
}

.chapter:hover{
    filter:blur(5px)
}

.title:hover{
    filter:blur(5px)
}

