:root{
   --spacing: 10vw; 
   --font-size: 2vh;
   --width:5vw;
   --height: 5vh;
}

body{
    margin:0;
    padding:0;
    background-color: white;
}

main{
    display: flex;
    flex-direction:column;
    column-gap: var(--spacing);
}

.title{
    font-size: calc(2 * var(--font-size));
    font-family: 'Shippori Mincho', sans-serif;
    font-weight: 500;
}

.info{
    font-size: var(--font-size);
    font-weight: 400;
    color: rgb(107, 107, 107);
}

.link{
    margin: auto;
    text-align: right;
    font-size: var(--font-size);
    font-weight: 400;
    color: rgb(107, 107, 107);
    margin-top: 2vh;
    font-family: 'Shippori Mincho', sans-serif;
    font-weight: 400;

}

#art2{
    margin: auto;
    margin-top: calc(1 * var(--spacing));
    padding:var(--spacing);
}

#background2{
    background-color: rgb(165, 95, 42);
    width: calc(5.8 * var(--spacing));
    height:calc(7.5 * var(--spacing));
    margin-top: var(--spacing);
    overflow: hidden;
}

#block1{
    width: calc(2 * var(--width));
    height: calc(5 * var(--height));
    background-color: white;
    margin-top: calc(6 * var(--height));
    margin-left: calc(5 * var(--width));
    transform: rotate(10deg);
    border-left: 1.5vh solid black;
    position: relative;
    z-index: 2;
}

#line1{
    height: calc(5 * var(--height));
    margin-top: calc(-5 * var(--height));
    margin-left: calc(11 * var(--width));
    transform: rotate(-10deg);
    border-left: 2vh solid black;
}

#line2{
    width: 22vh;
    margin-top: -30vh;
    margin-left: 38.5vh;
    transform: rotate(-10deg);
    border-bottom: 1vh solid black;
    position: relative;
    z-index:2;
}


#line3{
    height: 25vh;
    margin-top: -10vh;
    margin-left: 13vh;
    transform: rotate(-5deg);
    border-left: 2.5vh solid black;
}
#line4{
    height: 25vh;
    margin-top: -28vh;
    margin-left: 18vh;
    transform: rotate(-5deg);
    border-left: 2vh solid black;
}

#line5{
    height: 55vh;
    margin-top: -63vh;
    margin-left: 16vh;
    transform: rotate(-5deg);
    border-left: 1vh solid black;
}

#line6{
    width: 10vh;
    margin-top: 10.6vh;
    margin-left: 16vh;
    transform: rotate(-5deg);
    border-bottom: 2vh solid black;
}

#block2{
    width: 10vh;
    height: 15vh;
    background-color: rgb(203, 150, 58);
    margin-top: 2vh;
    margin-left: 20vh;
    transform: rotate(-5deg);
    border-left: 1.5vh solid black;
}
#line7{
    width: 35vh;
    height: 55vh;
    margin-top: -40vh;
    margin-left: -8vh;
    transform: rotate(-5deg);
    border-right: 1.5vh solid black;
}

#block3{
    width: 10vh;
    height: 35vh;
    background-color: rgb(242, 213, 219);
    margin-top: -100vh;
    margin-left: 15vh;
    transform: rotate(-5deg);
    border-right: 1vh solid black;
    border-left: 1vh solid black;
    position: relative;
    z-index: 1;
}

#block4{
    width: 55vh;
    height: 25vh;
    background-color: rgb(255, 255, 255);
    margin-top: -25vh;
    margin-left: 30vh;
    transform: rotate(-30deg);
    border-top: 2vh solid black;
    border-left: 1.5vh solid black;
    position: relative;
    z-index: 1;
}

#block5{
    width: 55vh;
    height: 7vh;
    background-color: rgb(242, 213, 219);
    margin-top: -23vh;
    margin-left: 27.3vh;
    transform: rotate(-30deg);
    position: relative;
    z-index: 1;
}

#block6{
    width: 7vh;
    height: 15vh;
    background-color: rgb(242, 213, 219);
    margin-top: 10vh;
    margin-left: 35.75vh;
    transform: rotate(-30deg);
    position: relative;
    z-index: 1;
}

#block7{
    width: 5vh;
    height: 25vh;
    background-color: rgb(155, 65, 30);
    margin-top: -15vh;
    margin-left: 39.5vh;
    transform: rotate(10deg);
    position: relative;
    z-index: 1;
}

#block8{
    width: 10vh;
    height: 45vh;
    background-color: rgb(165, 95, 42);
    margin-top: -24vh;
    margin-left: 42.6vh;
    transform: rotate(10deg);
    position: relative;
    z-index: 1;
}

#block9{
    width: 35vh;
    height: 5vh;
    background-color: rgb(155, 65, 30);
    margin-top: -55.3vh;
    margin-left: 40.6vh;
    transform: rotate(-30deg);
    position: relative;
    z-index: 2;
}

#block10{
    width: 45vh;
    height: 10vh;
    background-color: rgb(165, 95, 42);
    margin-top: -4.95vh;
    margin-left: 46vh;
    transform: rotate(-30deg);
    position: relative;
    z-index: 1;
}

#block11{
    width: 35vh;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    margin-top: 0vh;
    margin-left: 50vh;
    transform: rotate(-10deg);
}

#block12{
    width: 15vh;
    height: 15vh;
    background-color: rgb(0, 88, 204);
    margin-top: -30vh;
    margin-left: 20vh;
    transform: rotate(-50deg);
    border: 1vh solid black;
}

#block13{
    width: 10vh;
    height: 10vh;
    background-color: rgb(0, 200, 180);
    margin-top: -4vh;
    margin-left: 28vh;
    transform: rotate(-30deg);
    border-bottom: 1vh solid black;
    border-top: 1vh solid black;
    border-right: 1vh solid black;
}

#block14{
    width: 25vh;
    height: 55vh;
    background: linear-gradient(0deg, transparent 45%, #000000 45%, #000000 55%, transparent 55%, transparent 20%, #000000 20%, #000000 30%,transparent 30%), linear-gradient(90deg, transparent 45%, #000000 45%, #000000 55%, transparent 55%, transparent 20%, #000000 20%, #000000 30%,transparent 30%);
    background-size: 3em 3em;
    opacity: 1;
    margin-top: -1vh;
    margin-left: -14vh;
    transform: rotate(-3deg);
    border-top: 1vh solid black;
    border-right: 1vh solid black;
}

#block15{
    width: 45vh;
    height: 55vh;
    background: linear-gradient(0deg, transparent 45%, #aa3a0e 45%, #000000 55%, transparent 55%, transparent 20%, #aa3a0e 20%, #000000 30%,transparent 30%), linear-gradient(90deg, transparent 45%, #aa3a0e 45%, #000000 55%, transparent 55%, transparent 20%, #000000 20%, #000000 30%,transparent 30%);
    background-size: 3em 3em;
    opacity: 1;
    margin-top: -145vh;
    margin-left: 5vh;
    transform: rotate(20deg);
    border-bottom: 1vh solid black;
    border-right: 1vh solid black;
    border-left: 1vh solid black;
}

marquee{
    font-size: var(--font-size);
    font-family: 'Shippori Mincho', sans-serif;
    font-weight: 400;
    color: darkgray;
}