:root{
    --spacing: 5vw; 
    --font-size: 2vw;
    --width:10vw;
}

body{
    background-color: rgb(21, 21, 21);
}

h1{
    font-family: "brevier", sans-serif;
    font-size: calc(3 *var(--font-size));
    font-weight: 700;
    font-style: normal;
    border:rgb(0, 255, 115) 3px solid;
    width: calc(7 * var(--width));
    text-align: center;
    color:rgb(0, 255, 115);

}

ul{
    list-style-type: none;
    padding: 0;
}

#providerGraph{
    --total--provider: calc(var(--alt) + var(--spec) + var(--att) + var(--partner) + var(--fiber));
    display: flex;
    margin-top: calc(2 * var(--spacing));
    background-color: rgb(59, 59, 59);
    border-radius: calc(var(--spacing) / 4);
    height: calc(2 * var(--spacing));
    font-family: "brevier", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size);
    color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,255,115,0.3);
    overflow: hidden;
}

#providerGraph li{
    padding: calc(var(--spacing) / 2);
    align-items:center;
    text-align: center;
}

#alt{
    background-color: rgb(215, 215, 215);
    width:calc(var(--alt) / var(--total--provider) * 100%);
}

#spec{
    background-color: rgb(168, 168, 168);
    width:calc(var(--spec) / var(--total--provider) * 100%);
}

#att{
    background-color: rgb(131, 131, 131);
    width:calc(var(--att) / var(--total--provider) * 100%);
}

#partner{
    background-color: rgb(102, 102, 102);
    width:calc(var(--partner) / var(--total--provider) * 100%);
}

#fiber{
    background-color: rgb(79, 79, 79);
    width:calc(var(--fiber) / var(--total--provider) * 100%);
}