:root{
    --spacing: 5vw; 
    --font-size: 2vw;
    --width:10vw;
}

body{
    background-color: rgb(26, 26, 26);
}

h1{
    font-family: 'PF Tempesta Five Extended', sans-serif;
    font-size: calc(2 *var(--font-size));
    font-weight: 400;
    font-style: normal;
    border:rgb(0, 255, 115) 3px solid;
    width: calc(9 * var(--width));
    text-align: center;
    color:rgb(0, 255, 115);
    margin-top: var(--spacing);
    margin-left: auto;
    margin-right: auto;

}

marquee{
    padding: 0;
    margin: auto;
    width: calc(8.5 * var(--width));
}

/* #introduction{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 500;
    font-size: 1vw;
    line-height: 3.5em;
    width: calc(9 * var(--width));
    margin-top: var(--spacing);
    margin-left: var(--spacing);
    color:rgb(148, 148, 148);
                                                
} */

#provider{
    font-family: 'PF Tempesta Five Compressed', sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    font-style: normal;
    color:rgb(165, 165, 165);
    margin-top: var(--spacing);
    margin-left: var(--spacing);
}

#provider::before{
    content: "• ";
    color:rgb(0, 255, 115);
}

#typewriter1 {
    display: inline-flex;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    /* letter-spacing: .15em; */
    animation:
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite;
  }

@keyframes typing {
    from { width: 0 }
    to { width: 20%}
  }
  

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


ul{
    list-style-type: none;
    padding: 0;
}

#providerGraph{
    --total--provider: calc(var(--alt) + var(--spec) + var(--att) + var(--partner) + var(--fiber));
    display: flex;
    width: calc(9 * var(--width));
    margin-top: calc(0.5 * var(--spacing));
    border: 3px solid rgb(0, 255, 115);
    height: calc(2 * var(--spacing));
    font-family: "brevier", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size);
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5vw;
    overflow: hidden;
}

#providerGraph li{
    padding: calc(var(--spacing) / 2);
    height: calc(var(--width) / 4);
    margin: auto;
    align-items:center;
    text-align: center;
}

#alt{
    background-color: rgb(215, 215, 215);
    width:calc(var(--alt) / var(--total--provider) * 100%);
}

#spec{
    background-color: rgb(168, 168, 168);
    width:calc(var(--spec) / var(--total--provider) * 100%);
}

#att{
    background-color: rgb(131, 131, 131);
    width:calc(var(--att) / var(--total--provider) * 100%);
}

#partner{
    background-color: rgb(102, 102, 102);
    width:calc(var(--partner) / var(--total--provider) * 100%);
}

#fiber{
    background-color: rgb(79, 79, 79);
    width:calc(var(--fiber) / var(--total--provider) * 100%);
}

.providerName{
    display: none;
    font-family: 'PF Tempesta Five Compressed', sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 255, 115);
    border-left: 3px solid rgb(0, 255, 115);
    margin-top: auto;

}

li:hover .providerName{
    display: block;
}

#attname{
    margin-left: calc(-2 * var(--spacing));
}

#ptnname{
    margin-left: calc(-3 * var(--spacing));
}

#fibname{
    margin-left: calc(-3 * var(--spacing));
}


#scanner{
    position: absolute;
    width: 2px;  
    height: calc(2 * var(--spacing));
    background-color: rgb(0, 255, 115);
    margin-top: calc(-2 * var(--spacing));
    margin-left: var(--spacing);
    z-index: auto;
    animation: move 5s ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: inherit;
}

@keyframes move{
    0%{margin-left:var(--spacing);}
    50%{margin-left: calc(18.9 * var(--spacing));}
    100%{margin-left:var(--spacing);}
}

#Layer_2{
    width: calc(6 * var(--spacing));
    margin-top: var(--spacing);
    margin-left: var(--spacing);
}

#loading-bar{
    display: flex;
    margin-top: calc(-9 * var(--spacing));
    margin-left: calc(3 * var(--spacing));
}

#loading-bar-left{
    fill:rgb(0, 255, 115);
    animation: loading-bar-morph 1s linear .1s infinite;
    transform-origin: center;
}

#loading-bar-middle{
    fill:rgb(0, 255, 115);
    animation: loading-bar-morph 1s linear .2s infinite;
    transform-origin: center;
}

#loading-bar-right{
    fill:rgb(0, 255, 115);
    animation: loading-bar-morph 1s linear .4s infinite;
    transform-origin: center;
}


@keyframes loading-bar-morph{
  0%
    {transform: scaleY(1)}
  25%
    {transform: scaleY(0.3)}
  50%
    {transform: scaleY(0.7)}
  75%
    {transform: scaleY(0.15)}
}

#circleMap{
    width: calc(18 * var(--spacing));
    margin-top: calc(-6 * var(--spacing));
    margin-left: calc(4 * var(--spacing));
}

.mapSpots{
    display: flex;
    margin-top: calc(-13 * var(--spacing));
    margin-left: calc(8 * var(--spacing));
}

#spot1{
    /* filter: drop-shadow(0 0 20px #00ff73); */
    animation: glow1 1s ease-in-out infinite alternate;
}

#spot3{
    animation: glow2 1s ease-in-out infinite alternate;
}

#spot5{
    animation: glow3 1s ease-in-out infinite alternate;
}

#spot1:hover{
    fill: orange;
}

#spot3:hover{
    fill: orange;
}

#spot5:hover{
    fill: orange;
}


@keyframes glow1{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }

}

@keyframes glow2{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }

}

@keyframes glow3{
    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.5;
    }

}
