:root{
    --spacing: 5vw; 
    --font-size: 2vw;
    --width:10vw;
}

body{
    background-color: rgb(21, 21, 21);
}

h1{
    font-family: "brevier", sans-serif;
    font-size: calc(3 *var(--font-size));
    font-weight: 700;
    font-style: normal;
    border:rgb(0, 255, 115) 3px solid;
    width: calc(7 * var(--width));
    text-align: center;
    color:rgb(0, 255, 115);

}

ul{
    list-style-type: none;
    padding: 0;
}

#provider-graph{
    display: flex;
    margin-top: calc(2 * var(--spacing));
    background-color: rgb(59, 59, 59);
    border-radius: calc(var(--spacing) / 4);
    height: calc(2 * var(--spacing));
    font-family: "brevier", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size);
    color:rgb(59, 59, 59);
    box-shadow: 0px 0px 20px 0px rgba(0,255,115,0.3);
    overflow: hidden;
}

#provider-graph li{
    padding: calc(var(--spacing) / 2);
    align-items:center;
}

#alt{
    background-color: rgb(215, 215, 215);
}

#spec{
    background-color: rgb(168, 168, 168);
}

#att{
    background-color: rgb(131, 131, 131);
}

#partner{
    background-color: rgb(102, 102, 102);
}

#fiber{
    background-color: rgb(79, 79, 79);
}